<head>
<%- partial('partial/metadata', {
      config: config,
      theme: theme,
      title: page.title,
      thumbnail: page.featured_image,
      canonical: page.link || page.path
    }) -%>
<%- partial('partial/pre_body_scripts') -%>
</head>
<body class="post">
  <header>
    <a class="home" title="Go Home" href="<%= url_for('/') %>"></a>
    <h1><%- page.title -%></h1>
    <label class="theme-switcher">
      <input type="checkbox">
    </label>
  </header>
  <div class="content">
  <%- page.content -%>
  </div>
  <%- partial('partial/post_body_scripts') -%>
</body>
