<head>
<%- partial('partial/metadata', {
      config: config,
      theme: theme,
      title: page.title,
      thumbnail: page.featured_image,
      canonical: page.link || page.path
    }) -%>
<% if (typeof page.structured_data === 'string') {
     page.structured_data = {
       '@type': page.structured_data
     };
   }
   if (typeof page.structured_data === 'object') {
     function fillBlanksWith(object, value) {
       Object.keys(value).forEach(function (key) {
         if (object.hasOwnProperty(key)) {
           if (typeof object[key] === 'object' && typeof value[key] === 'object') {
             fillBlanksWith(object[key], value[key]);
           }
         } else {
           object[key] = value[key];
         }
       });
     }
     switch (page.structured_data['@type']) {
       case 'BlogPosting':
         fillBlanksWith(page.structured_data, {
           'headline': page.title
         });
         break;
     }
     fillBlanksWith(page.structured_data, {
       '@context': 'https://schema.org/',
       'image': full_url_for(page.featured_image),
       'author': {
         '@type': 'Person',
         'name': config.author
       },
       'publisher' : {
         '@type': 'Organization',
         'name': config.title,
         'logo': {
           '@type': 'ImageObject',
           'url': full_url_for('/images/amp.png')
         }
       },
       'datePublished': page.date.toISOString(),
       'dateModified': page.date.toISOString(),
       'mainEntityOfPage': full_url_for(page.link || page.path)
     }); -%>
  <script type="application/ld+json">
<%- JSON.stringify(page.structured_data) -%>
  </script>
<% } -%>
<%- partial('partial/pre_body_scripts') -%>
</head>
<body class="post">
  <header>
    <a class="home" title="Go Home" href="<%= url_for('/') %>"></a>
    <h1><%- page.title -%></h1>
    <label class="theme-switcher">
      <input type="checkbox">
    </label>
  </header>
  <div class="content">
  <%- page.content -%>
  <% if (page.author || config.author) { -%>
    <blockquote class="sign">
      <p>
        <%= page.author || config.author %><br>
        <i><small><%- date(page.date) %></small></i>
      </p>
	  </blockquote>
  <% } -%>
  </div>
  <footer>
    <a rel="license,noopener" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
      <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by/4.0/88x31.png">
    </a>
    <br>
    This work is licensed under a <a rel="license,noopener" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
    <br>
    <br>
    <a href="/privacy-policy">Privacy Policy</a>
  </footer>
  <%- partial('partial/post_body_scripts') -%>
</body>
